# Maven
target/
!target/*.jar

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Git
.git/
.gitignore

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Docs
*.md
!README.md

# Logs
*.log

# Env files (NO incluir secrets)
.env*

# Reports
reports/

# Tests
src/test/
